@tailwind base;
@tailwind components;
@tailwind utilities;


.first{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:120vh;
}
::placeholder {
    color: white;
    /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
  }
  .card1 { /* Microsoft Edge */
    margin-left: 20rem;
   }
